html, body{
	font-family: Futura;
	margin: 0;
}

header{
	background-color: #d43131;
	padding: 20px;
	text-align: center;
	background-image: url('../img/background-image.jpg');
	background-repeat: repeat;
}

h1{
	font-size: 90px;
    color: white;
    text-shadow: 0px 5px 20px white;
    background-color: #000000c7;
    max-width: 450px;
    padding: 20px;
    margin: auto;
    margin-top: 20px;
    border-radius: 20px;

}

header img{
	border-radius: 200px;
	width: 300px;
	border: 12px solid black;
	box-shadow: 0px 5px 30px black;
}

.content{
	max-width: 1100px;
	margin: 10px auto;
	background-color: #ff9390;
	padding: 20px;
}

.content h2{
	margin: 5px 0px;
}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 18px;
	font-weight: bold;
	margin: 5px 0px;
	text-align: center;

}

.title{
	background-color: #ffcccb;
	padding: 5px;
	margin: 0px;
	text-align: center;
	font-size: 30px;
}

a:hover{
	color: red;
}

footer{
	margin-top: 20px;
	padding: 10px 20px;
	background-color: lightgrey;
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 1px;
}

p{
	margin: 10px 0px 0px 0px;
}

.sidebyside{
	width: 100%;
	text-align: center;
}

.sidebyside p{
	display: inline-block;
    text-align: center;
    width: 23%;
    font-size: 20px;
}

.sidebyside a{
	display: inline-block;
    text-align: center;
    font-size: 20px;
}

.sidebyside img{
	width: 23%;
    border: 3px solid white;
    background-color: #920400;
}

.friends{
	background-color: #ff403b;
	border-radius: 15px;
	padding: 10px;
	margin: 20px 40px 5px;
	border: 3px solid white;
}

.friends h2{
	font-size: 30px;
	text-decoration: underline;
	text-decoration-color: white;
}


