html, body{
	font-family: Cochin;
	margin: 0;
}

header{
	background-color: #d43131;
	padding: 40px;
	text-align: center;
}

h1{
	font-size: 90px;
	color: white;
}

header img{
	border-radius: 200px;
	width: 300px;
	border: 12px solid black;
}

.content{
	max-width: 1000px;
	margin: 10px auto;
	background-color: #ffaaa8;
	padding: 20px;
}

.content h2{
	margin: 5px 0px;
}

img.big-image{
	max-width: 100%;
}

p.caption{
	font-size: 16px;
	font-style: italic;
	margin: 5px 0px;
}

ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	color: red;
	text-decoration: none;
}

footer{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: lightgrey;
}

footer ul{
	text-align: center;
}

footer ul li{
	display: inline-block;
	margin: 1px;
}

p{
	margin: 5px 0px 10px 0px;
}




